		<canvas id="canvas" width="640" height="480">
			<p>Your browser does not support the canvas element.</p>
		</canvas>
        <script>$(document).ready(function() { new Enjine.Application().Initialize(new Mario.LoadingState(), 320, 240) });</script>
